<div class="container">
    <div *ngIf="toggleFilter">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">
                            <i class="fa fa-search-plus"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default" placeholder="Search">
                </div>
            </div>
            <div class="col-md-6 input-group-select">
                <div class="input-group">
                    <div class="input-group-prepend category-wrapper">
                        <span class="input-group-text">
                            <i class="fa fa-align-justify"></i>
                        </span>
                        <select class="filter-category">
                            <option selected="selected">Choose Category</option>
                            <option>example1</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-list-filter">
            <div class="row">
                <div class="col-md-3">
                    <div class="filter-section">
                        <div class="input-group-prepend filter-section">
                            <span class="input-group-text">
                                <i class="fa fa-file"></i>
                            </span>
                            <select class="filter-category">
                                <option selected="selected">Choose BestSeller</option>
                                <option>example1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filter-section">
                        <div class="input-group-prepend filter-section">
                            <span class="input-group-text">
                                <i class="fa fa-file"></i>
                            </span>
                            <select class="filter-category">
                                <option selected="selected">Choose New Products</option>
                                <option>example1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filter-section">
                        <div class="input-group-prepend filter-section">
                            <span class="input-group-text">
                                <i class="fa fa-file"></i>
                            </span>
                            <select class="filter-category">
                                <option selected="selected">Choose By Price</option>
                                <option>from lover to hight</option>
                                <option>from hight to lover</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filter-section">
                        <div class="input-group-prepend filter-section">
                            <span class="input-group-text">
                                <i class="fa fa-file"></i>
                            </span>
                            <select class="filter-category">
                                <option selected="selected">Choose By Star (from 1-5)</option>
                                <option>
                                    1
                                </option>
                                <option>
                                    2
                                </option>
                                <option>
                                    3
                                </option>
                                <option>
                                    4
                                </option>
                                <option>
                                    5
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rangeBox">
                <div class="row">
                    <div class="col-md-9">
                        <div id="rangeBox">
                            <div id="sliderBox">
                                <input type="range" id="slider0to50" min="0" max="50">
                                <input type="range" id="slider51to100" min="50" max="100">
                            </div>
                            <div id="inputRange">
                                <input type="number" min="0" max="50" placeholder="Min" id="min">
                                <input type="number" min="51" max="100" placeholder="Max" id="max">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="button-success">
                            <button type="button" class="btn btn-success">Success</button>

                        </div>
                    </div>
                </div>
                <input
                type="text"
                name="somename"
                data-provide="slider"
                data-slider-ticks="[1, 2, 3]"
                data-slider-ticks-labels='["short", "medium", "long"]'
                data-slider-min="1"
                data-slider-max="3"
                data-slider-step="1"
                data-slider-value="3"
                data-slider-tooltip="hide"
            >
                Filter by price interval: <b>€ 10</b> <input id="ex2" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/> <b>€ 1000</b>
            </div>
        </div>
    </div>
    <div class="filter-btn">
        <button (click)="toggleFilter = !toggleFilter" class="btn btn-primary"><i class="fa fa-filter"></i>Filter</button>
    </div>
    <div class="bread-crumbs">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
    </div>
</div>