<div class="container">
    <div [class]="(toggleFilter) ? '': 'hide'">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">
                            <i class="fa fa-search-plus"></i>
                        </span>
                    </div>
                    <input [(ngModel)]="queries.keywords" type="text" class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default" placeholder="Search">
                </div>
            </div>
            <div class="col-md-6 input-group-select">
                <div class="input-group">
                    <div class="input-group-prepend category-wrapper">
                        <span class="input-group-text">
                            <i class="fa fa-align-justify"></i>
                        </span>

                        <app-subcategory-select 
                            [breadCrumbs]="appState.breadCrumbs" 
                            [recurtionLevel]="0"
                            [categories]="appState.productCategories">
                        </app-subcategory-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-list-filter">
            <div class="row">
                <div class="col-md-3">
                    <div class="filter-section">
                        <div class="input-group-prepend filter-section">
                            <span class="input-group-text">
                                <i class="fa fa-file"></i>
                            </span>
                            <select class="filter-category">
                                <option selected="selected">Choose BestSeller</option>
                                <option>example1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filter-section">
                        <div class="input-group-prepend filter-section">
                            <span class="input-group-text">
                                <i class="fa fa-file"></i>
                            </span>
                            <select class="filter-category">
                                <option selected="selected">Choose New Products</option>
                                <option>example1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filter-section">
                        <div class="input-group-prepend filter-section">
                            <span class="input-group-text">
                                <i class="fa fa-file"></i>
                            </span>
                            <select class="filter-category">
                                <option selected="selected">Choose By Price</option>
                                <option>from lover to hight</option>
                                <option>from hight to lover</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filter-section">
                        <div class="input-group-prepend filter-section">
                            <span class="input-group-text">
                                <i class="fa fa-file"></i>
                            </span>
                            <select class="filter-category">
                                <option selected="selected">Choose By Star (from 1-5)</option>
                                <option>
                                    1
                                </option>
                                <option>
                                    2
                                </option>
                                <option>
                                    3
                                </option>
                                <option>
                                    4
                                </option>
                                <option>
                                    5
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rangeBox">
                <div class="row">
                    <div class="col-md-9">
                        <div id="rangeBox">
                            <!-- using this plugin - https://www.npmjs.com/package/bootstrap-slider and https://github.com/seiyria/bootstrap-slider-->
                            <input id="range" type="text" id="range" step="1" precision="2" value="7"
                                scale="logarithmic" name="somename" data-provide="slider" data-slider-min="10"
                                data-slider-max="1000" data-slider-step="1" data-slider-value="[250,950]">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="button-success">
                            <button (click)="search()" type="button" class="btn btn-success">Success</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="filter-btn">
        <button (click)="toggleFilter = !toggleFilter" class="btn btn-primary"><i
                class="fa fa-filter"></i>Filter</button>
    </div>
    <div class="bread-crumbs">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
    </div>
    <app-card *ngFor="let card of products;" [state]="card" [userId]="state.header.user._id" (onChanged)="cardHandler($event)">
    </app-card>
</div>