<!-- <div id="make-3D-space">
  <div [id]=" 'product-card-' + index " (mouseenter)="hover()" (mouseleave)="unhover()" [class]="productCardClass">


    <div [id]=" 'product-front-' + index ">
      <div class="shadow"></div> -->
<!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt.png" alt="" /> -->
<!-- <img class="product-img" [src]="state.imgs[this.state.img]" alt="img" />
      <div class="image_overlay"></div>
      <div class="product-view" routerLink="/product/{{state._id}}">product info</div> -->
<!-- <div (click)="detail(index)" id="view_details">View details</div> -->
<!-- <div class="stats">
        <div class="stats-container">
          <span (click)=buyProduct($event) class="product_price">{{ state.price }}</span> -->
<!-- <button id=" test-{{i}} ">Test</button> -->
<!-- <span class="product_name">{{ state.productName }}</span>
          <p>Men's running shirt</p>
          <div class="product-options"> -->
<!-- RATING -->
<!-- <app-rating [user]="userId" [productId]="state._id" [ratingPublic]="state.stars.public"
              [ratingPrivate]="starPrivate()">
            </app-rating> -->
<!-- SIZES -->
<!-- <div class="product-size">
              <strong>SIZES</strong>
              <h4>{{ state.size }}</h4>
              <ul class="ul-size">
                <li *ngFor="let size of state.sizes">
                  <a (click)="onSelectSize(size); $event.stopPropagation()" href="javascript:void(0)"
                    [class.active]="size == state.selectedSize">
                    {{ size }}</a>
                </li>
              </ul>
            </div> -->
<!-- COLORS -->
<!-- <div class="colors-block">
              <strong>COLORS</strong>
              <ul class="ul-color">
                <li *ngFor="let color of state.colorProducts">
                  <a [style.background]="color" (click)="state.selectedColor = color; $event.stopPropagation()"
                    [class.active]="color == state.selectedColor">
                  </a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div [id]=" 'product-back-' + index " [class]="productBackClass">
      <div class="shadow"></div>
      <div [id]=" 'carousel-' + index">
        <ul> -->
<!-- <li *ngFor="let slide of imgSlides;let cardSliderIndex = index"> -->
<!-- <img [src]="slide.img" alt=""> -->
<!-- <li *ngFor="let slide of state.imgs;let cardSliderIndex = index">
            <img style="width:100%" [src]="slide" alt="">
          </li>
        </ul>
        <div class="arrows-perspective">
          <div (click)="arrPrev(index)" [class]="(slidePointer > 0) ? 'carouselPrev ' + moveArrow : 'hideArrow' "> -->

<!-- <div (click)="arrPrev(index)" [class]="(slidePointer > 0) ? '' : 'hide ' + 'carouselPrev ' + moveArrow"> -->
<!-- <div class="y"></div>
            <div class="x"></div>
          </div> -->

<!-- <div (click)="arrNext(index)" [class]=" (slidePointer < imgSlides.length-1) ? '' : 'hide ' + 'carouselNext ' + moveArrow"> -->
<!-- <div (click)="arrNext(index)"
            [class]="(slidePointer < imgSlides.length-1) ? 'carouselNext ' + moveArrow : 'hideArrow' ">
            <div class="y"></div>
            <div class="x"></div>
          </div>
        </div>
      </div>
      <div (click)="flipBack(index)" id="flip-back">
        <div [id]=" 'cy-' + index"></div>
        <div [id]=" 'cx-' + index"></div>
      </div>
    </div>


  </div>
</div> -->


<div id="make-3D-space">
  <div class="flip-card">
    <div [class]="(hoverFlip) ? 'flip-card-inner-hover flip-card-inner' : 'flip-card-inner' ">

      <!-- --- -->
      <div class="card mb-3 flip-card-front" [style.display]="(hideFront) ? 'none' : 'block'  ">
        <h3 class="card-header"></h3>

        <div class="card-img-2">
            <div class="card-img">
                <img class="product-img" [src]="state.imgs[this.state.img]" alt="img" />
                <div *ngIf="!hoverFlip" class="image_overlay"></div>
            </div>
            <div class="product-view" routerLink="/product/{{state._id}}">product info</div>
            <div (click)="flip()" class="view_details">View details</div>
          <div class="stats">
            <div class="stats-container">
              <span (click)=buyProduct($event) class="product_price">{{ state.price }}</span>
              <span class="product_name">{{ state.productName }}</span>
              <p>Men's running shirt</p>
              <div class="product-options"> 
                <!-- RATING -->
                <app-rating [user]="userId" [productId]="state._id" [ratingPublic]="state.stars.public"
                  [ratingPrivate]="starPrivate()">
                </app-rating>
                <!-- SIZES -->
                <div class="product-size">
                  <strong>SIZES</strong>
                  <h4>{{ state.size }}</h4>
                  <ul class="ul-size">
                    <li *ngFor="let size of state.sizes">
                      <a (click)="onSelectSize(size); $event.stopPropagation()" href="javascript:void(0)"
                        [class.active]="size == state.selectedSize">
                        {{ size }}</a>
                    </li>
                  </ul>
                </div>
                <!-- COLORS -->
                <div class="colors-block"> 
                  <strong>COLORS</strong>
                  <ul class="ul-color">
                    <li *ngFor="let color of state.colorProducts">
                      <a [style.background]="color" (click)="state.selectedColor = color; $event.stopPropagation()"
                        [class.active]="color == state.selectedColor">
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div (click)="flip()" class="view">More</div>
        <div class="card-body">
          <p class="card-text">...</p>
        </div>
      </div>

      <!-- --- -->
      <div class="card mb-3 flip-card-back">
        <div class="card-body">
          <p class="card-text"></p>
        </div>
        <div class="card-body">
        </div>
        <div [id]=" 'carousel-' + index">
          <ul style="transition: .3s;display:flex">
            <li *ngFor="let slide of state.imgs; let cardSliderIndex = index">
              <img style="width:100%" [src]="slide" alt="">
            </li>
          </ul>
          <div class="arrows-perspective">
            <div (click)="arrPrev(index)" [class]="(slidePointer > 0) ? 'carouselPrev ' + moveArrow : 'hideArrow' ">
              <div class="y"></div>
              <div class="x"></div>
            </div>
            <div (click)="arrNext(index)"
              [class]="(slidePointer < imgSlides.length-1) ? 'carouselNext ' + moveArrow : 'hideArrow' ">
              <div class="y"></div>
              <div class="x"></div>
            </div>
          </div>
          <div (click)="close()" id="flip-back">
            <div id="cy" class="s1 s2 s3"></div>
            <div id="cx" class="s1 s2 s3"></div>
          </div>
        </div>
        <!-- <div class="card-footer text-muted">Урок:</div> -->
      </div>

    </div>

  </div>
</div>