
nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  a.navbar-brand(href='#') Navbar
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarColor01.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      each val in header_json.items 
        li.nav-item
          a.nav-link(href='#') #{ val }
    form.form-inline.my-2.my-lg-0
      input.form-control.mr-sm-2(type='text', placeholder='Search')
      button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search
each photo in photos
  .card.text-white.bg-warning.mb-3(style='max-width: 20rem;')
    .card-header Header
    .card-body
      img.myImg(src='./albumes/' + photo)
      h4.card-title Warning card title
      p.card-text
        | Some quick example text to build on the card title and make up the bulk of the card's content.
