form(action='/login' method='post')
  div
    label Username:
    input(type='text' name='email' value='test@gmail.com')
    br
  div
    label Password:
    input(type='password' name='password' value='1111')
  div
    input(type='submit' value='Submit')