.slide-wrapper {
    width: 100%;
    img {
        width: 1267px;
        //margin: 0 auto;
        display: block;
        height: 800px;
    }
}
.slider-list {
    li {
        list-style: none;
    }
}