.slide-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1438px;
}
.slider-list {
    position: relative;
    padding: 0;
    margin: 0;
    height: 800px;
    li {
        list-style: none;
    }
}
.left-slide-btn,
.right-slide-btn {
    font-size: 60px;
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    -webkit-transition: .5s;
        &:hover {
            transition: 1s;
            .slide-icon {
                color: #fa782e;
                -webkit-transition: .5s;
            }
        } 
}
.left-slide-btn {
    top: 45%;
    left: 2%;
}
.right-slide-btn {
    top: 45%;
    right: 2%;
}
.slider-wrapper {
    position: relative;
    //display: flex;
}
