<!-- <select (ngModelChange)="onChange($event)" class="form-control select-categories" id="exampleFormControlSelect1"
  [(ngModel)]="state.checkedCategory" [ngModelOptions]="{standalone: true}">
  <option selected disabled>Choose a category</option>
  <option *ngFor="let category of categories.subCategories" [ngValue]="category">{{ category.name }}
  </option>
</select> -->

<div class="primarys">
  <div class="container-filter">
    <div>
      <!-- -------------------------------------------------- -->
      <div class="">
        <div class="filter-menu mobile">
          <div class="form">
            
            <div *ngFor="let category of categories.subCategories;let i = index;" class="panel panel-mobile">

              <div class="panel-heading" id="headingFiltersMobile">
                <a (click)="toogleCategory(category)" class="panel-title">
                  <div class="category-title">
                    <span>{{ category.name }}</span>
                    <i *ngIf="category.subCategories.length != 0" [class]="(category.open) ? 'fa fa-angle-up rotate-180' : 'fa fa-angle-up' "></i>
                  </div>
                  <!-- name of category -->
                </a>
              </div>
              <div *ngIf="category.open && category.subCategories.length != 0">
            
                <div class="panel-body">
                  <div class="panel-group" id="filter-menu-mobile">
                    <div class="panel panel-mobile">
                      <div class="panel-heading" id="headingFourMobile">
                        <a (click)="toogleCategory(category)" class="panel-title panel-title-toggle">

                          <app-subcategory-accordion 
                            [breadCrumbs]="breadCrumbs" 
                            [recurtionLevel]="recurtionLevel + 1"
                            *ngIf="category.subCategories.length != 0"
                            [categories]="category">
                          </app-subcategory-accordion>
                         
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div><!-- /.filter-menu -->
      </div>
    </div>

  </div><!-- /.container -->
</div><!-- /.primary -->


<!-- {{ recurtionLevel }}- {{ state.checkedCategory.name }} -->