<app-header [state]="state.header"></app-header>
<div class="container">
	<div class="card">
		<div class="container-fliud">
			<div class="wrapper row">
				<button *ngIf="!editFlag && state.header.user.role == 'admin' " (click)="editForAdmin()" class="btn btn-primary edit">Edit</button>
				<button *ngIf="editFlag" (click)="saveForAdmin(state.product)"
					class="btn btn-primary edit save">Save</button>
				<div class="preview col-md-6">

					<div class="preview-pic tab-content">

						<div *ngFor="let img of state.product.imgs; let i = index;"
							[class]="( state.activeSliderImg[i] ) ? 'tab-pane active' : 'tab-pane' " id="pic-{{ 1+i }}">
							<img [src]="url + img" />
						</div>
					</div>
					<ul class="preview-thumbnail nav nav-tabs">
						<li (click)="changeImg(i)" *ngFor="let img of state.product.imgs; let i = index;"
							[class]="( state.activeSliderImg[i] ) ? 'active' : '' ">
							<a><img [src]="url + img" /></a>
						</li>
					</ul>

				</div>
				<div class="details col-md-6">
					<div class="bread-crumbs">
						<ul class="breadCrumb-list">
							<li *ngFor="let crumb of state.product.breadCrumbs">
								<a href="javascript:void(0)">
									{{ crumb }}
								</a>
							</li>
						</ul>
						<!-- {{ state.product.breadCrumbs }} -->
					</div>
					<div class="views">
						<i class="fa fa-eye">
							{{ state.product.views }}
						</i>
					</div>
					<h3 class="product-title">
						<div *ngIf="!editFlag">{{ state.product.productName }}</div>
						<input *ngIf="editFlag" type="text" [(ngModel)]="state.product.productName">
					</h3>
					<div class="rating">
						<div class="stars">
							{{ starPublic() | json }}
							<app-rating [user]="state.header.user" [productId]="productId()"
								[ratingPublic]="starPublic()" [ratingPrivate]="starPrivate()"></app-rating>
						</div>
						<span class="review-no">41 reviews</span>
					</div>
					<p *ngIf="!editFlag" [innerHTML]="state.product.description" class="product-description"></p>
					<input *ngIf="editFlag" type="text" [(ngModel)]="state.product.description">

					<h4 class="price">current price:
						<span *ngIf="!editFlag">{{ state.product.price }}</span>
						<input *ngIf="editFlag" type="text" [(ngModel)]="state.product.price">
					</h4>
					<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
					<h5 class="sizes">sizes:
						<div *ngFor="let size of state.product.sizes;let i = index;" class="size" data-toggle="tooltip"
							title="small">

							<input *ngIf="editFlag" type="text" [(ngModel)]="state.product.sizes[i]">
							<div *ngIf="!editFlag">{{ size }}</div>
						</div>
						<div *ngIf="editFlag">
							<input class="add-new-size" type="text" [(ngModel)]="newSize">
							<button (click)="addNewSize()">Add</button>
						</div>
					</h5>
					<h5 class="colors">colors:
						<div class="product-color" *ngFor="let color of state.product.colorProducts;let i = index;"
							[style.background]="color">
		
							<input *ngIf="editFlag" type="color" [(ngModel)]="state.product.colorProducts[i]">
							<div *ngIf="!editFlag" [style.background]="color">{{ color }}</div>
						</div>
						<div *ngIf="editFlag">
							<input *ngIf="editFlag" type="color" [(ngModel)]="newColor">
							<button (click)="addNewColor()">Add</button>
						</div>

					</h5>
					<div class="action">
						<button class="add-to-cart btn btn-default" type="button" (click)=buyProduct($event)>add to
							cart</button>
						<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>