<app-header [state]="state.header" (onChanged)="headerHandler($event)"></app-header>
<div class="container">
	<div class="card">
		<div class="container-fliud">
			<div class="wrapper row">
				<div class="preview col-md-6">

					<div class="preview-pic tab-content">

						<div *ngFor="let img of state.product.imgs; let i = index;"
							[class]="( state.activeSliderImg[i] ) ? 'tab-pane active' : 'tab-pane' " 
							id="pic-{{ 1+i }}">
							<img [src]="img" />
						</div>
					</div>
					<ul class="preview-thumbnail nav nav-tabs">
						<li (click)="changeImg(i)" *ngFor="let img of state.product.imgs; let i = index;" 
							[class]="( state.activeSliderImg[i] ) ? 'active' : '' ">
							<a><img [src]="img" /></a>
						</li>
					</ul>

				</div>
				<div class="details col-md-6">
					<div class="views">
						<i class="fa fa-eye">
							{{ state.product.views }}
						</i>
					</div>
					<h3 class="product-title">{{ state.product.productName }}</h3>
					<div class="rating">
						<div class="stars">
							{{ starPublic() | json }}
							<app-rating [user]="state.header.user" [productId]="productId()" [ratingPublic]="starPublic()" [ratingPrivate]="starPrivate()"></app-rating>
						</div>
						<span class="review-no">41 reviews</span> 
					</div>
					<p [innerHTML]="state.product.description" class="product-description"></p>
					<h4 class="price">current price: <span>{{ state.product.price }}</span></h4>
					<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
					<h5 class="sizes">sizes:
						<span *ngFor="let size of state.product.sizes" class="size" data-toggle="tooltip" title="small">
							{{ size }}
						</span>
						
					</h5>
					<h5 class="colors">colors: 
						<span class="product-color" *ngFor="let color of state.product.colorProducts" [style.background]="color">

						</span>
					</h5>
					<div class="action">
						<button class="add-to-cart btn btn-default" type="button" (click)=buyProduct($event)>add to
							cart</button>
						<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>