<select (ngModelChange)="onChange($event)" class="form-control" id="exampleFormControlSelect1"
  [(ngModel)]="state.checkedCategory" [ngModelOptions]="{standalone: true}">
  <option selected disabled>Choose a category</option>
  <option *ngFor="let category of categories.subCategories" [ngValue]="category">{{ category.name }}
  </option>
</select>
<app-subcategory-select 
  [breadCrumbs]="breadCrumbs"
  [recurtionLevel]="recurtionLevel + 1"
  *ngIf="state.checkedCategory.subCategories.length != 0" 
  [categories]="state.checkedCategory">
</app-subcategory-select>
{{ recurtionLevel }}- {{ state.checkedCategory.name }}