<app-header [state]="state.header" (onChanged)="headerHandler($event)"></app-header>
<div class="container">
  <div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 auth-block" [ngSwitch]="state.checked_form">

      <!-- FORM -->
      <form class="form-signIn" *ngSwitchCase=" 'login' " [formGroup]="userForm">
        <fieldset>
          <h2>Please Sign In Test</h2>
          <hr class="colorgraph">


          <!-- form-group email -->
          <div class="form-group">
            <input class="form-control" name="email" id="email" type="email" formControlName="email"
              placeholder="email">
            <app-form-validator [it]="email"></app-form-validator>
          </div>

          <!-- form-group password -->
          <fieldset formGroupName="passwords">
              <div class="form-group">
                  <input type="password" name="pwd" id="pwd" class="form-control input-lg" placeholder="Password" 
                  formControlName="pwd"> 
                  <app-form-validator [it]="pwd"></app-form-validator> 
                </div>
          </fieldset>
          <span class="button-checkbox">
            <button type="button" class="btn" data-color="info">Remember Me</button>
            <input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">
            <a href="" class="btn btn-link pull-right">Forgot Password?</a>
          </span>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a class="btn btn-lg btn-success btn-block" (click)="signIn()">Sign In</a>
              <!-- <input c type="submit" class="btn btn-lg btn-success btn-block" value="Sign In"> -->
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a class="btn btn-lg btn-primary btn-block" (click)="state.checked_form = 'register' ">Sign Up</a>
            </div>
          </div>
        </fieldset>
      </form>
      <!-- signUp-Form -->
      <form class="form-signUp" *ngSwitchCase=" 'register' " [formGroup]="userForm">
        <fieldset>
          <h2>Please Sign Up</h2>
          <hr class="colorgraph">

          <!-- first name -->
          <div class="form-group">
            <input class="form-control" name="firstName" id="firstName" type="text" formControlName="firstName"
              placeholder="First Name">
            <app-form-validator [it]="firstName"></app-form-validator>
          </div>

          <!-- last name -->
          <div class="form-group">
            <input class="form-control" name="lastName" id="lastName" type="text" formControlName="lastName"
              placeholder="Last Name">
            <app-form-validator [it]="lastName"></app-form-validator>
          </div>

          <!-- email -->
          <div class="form-group">
            <input class="form-control" name="firstName" id="email" type="email" formControlName="email"
              placeholder="Email Address">
            <app-form-validator [it]="email"></app-form-validator>
          </div>

          <div *ngIf="state.error.dublicate_user" class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oh snap!</strong> User is alrerady exist. Please enter another email or Sign In
          </div>

          <fieldset formGroupName="passwords">
            <!-- password -->
            <div class="form-group">
              <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password"
                formControlName="pwd">
              <!-- <app-validator-message [field]="secondFormGroup.get('passwords').get('pwd')"></app-validator-message> -->
              <app-form-validator [it]="pwd"></app-form-validator>
            </div>

            <!-- confirm password -->
            <div class="form-group">
              <input type="password" name="confirm" id="password-confirm" class="form-control input-lg"
                placeholder="Confirm Password" formControlName="confirm">
              <app-form-validator [it]="confirm"></app-form-validator>
            </div>
            <!-- mix validation: confirm, passwords -->
            <!-- equal -->
            <div *ngIf=" !confirm.pristine && passwords.errors && passwords.errors.passwordsAreEqual"
              class="alert alert-danger">
              {{passwords.errors.passwordsAreEqual.msg}}
            </div>
          </fieldset>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a class="btn btn-lg btn-success btn-block" (click)="state.checked_form = 'login' ">Sign In</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a class="btn btn-lg btn-primary btn-block" (click)="register()">Register</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a class="btn btn-lg btn-success btn-block" href="http://localhost:3000/api/auth/facebook">Log with
                Facebook</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>


<a href="/api/auth/facebook">Login via Facebook </a>