<app-header [state]="state.header" (onChanged)="headerHandler($event)"></app-header>
<div class="container">
  <div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" [ngSwitch]="state.checked_form">
      <form class="form-signIn" *ngSwitchCase=" 'login' " [formGroup]="userForm">
        <fieldset>
          <h2>Please Sign In Test</h2>
          <hr class="colorgraph">


          <!-- form-group email -->
          <div class="form-group">
            <input class="form-control" name="email" id="email" type="email" formControlName="email"
              placeholder="email">

            <div *ngIf="!userForm.controls.email.valid && !userForm.controls.email.pristine" class="alert alert-danger">

              <span *ngIf="userForm.controls.email.errors.custom">
                Incorrect email 
              </span>

            </div>
            
          </div>

          <!-- form-group password -->
          <div class="form-group">
            <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password"
              formControlName="password">
            <div *ngIf="!userForm.controls.password.valid && userForm.controls.password.dirty"
              class="alert alert-danger">
              <span *ngIf="userForm.controls.password.errors.custom">
                Incorrect password
              </span>
            </div>
          </div>

          <span class="button-checkbox">
            <button type="button" class="btn" data-color="info">Remember Me</button>
            <input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">
            <a href="" class="btn btn-link pull-right">Forgot Password?</a>
          </span>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a class="btn btn-lg btn-success btn-block" (click)="signIn()">Sign In</a>
              <!-- <input c type="submit" class="btn btn-lg btn-success btn-block" value="Sign In"> -->
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a class="btn btn-lg btn-primary btn-block" (click)="state.checked_form = 'register' ">Sign Up</a>
            </div>
          </div>
        </fieldset>
      </form>
      <!-- signUp-Form -->
      <form class="form-signUp" *ngSwitchCase=" 'register' " [formGroup]="userForm">
        <fieldset>
          <h2>Please Sign Up</h2>
          <hr class="colorgraph">

          <!-- first name -->
          <div class="form-group">
            <input class="form-control" name="firstName" id="firstName" type="text" formControlName="firstName"
              placeholder="First Name">
            <div *ngIf="!userForm.controls.firstName.valid && !userForm.controls.firstName.pristine"
              class="alert alert-danger">
              <span *ngIf="userForm.controls.firstName.errors.required">
                First Name is required
              </span>
              <span *ngIf="userForm.controls.firstName.errors.minlength">
                please put more text
              </span>
            </div>
          </div>

          <!-- last name -->
          <div class="form-group">
            <input class="form-control" name="lastName" id="lastName" type="text" formControlName="lastName"
              placeholder="Last Name">
            <div *ngIf="!userForm.controls.lastName.valid && !userForm.controls.lastName.pristine"
              class="alert alert-danger">
              <span *ngIf="userForm.controls.lastName.errors.required">
                Last Name is required
              </span>
            </div>
          </div>

          <!-- email -->
          <div class="form-group">
            <input class="form-control" name="firstName" id="email" type="email" formControlName="email"
              placeholder="Email Address">
            <div *ngIf="!userForm.controls.email.valid && !userForm.controls.email.pristine" class="alert alert-danger">
              <span *ngIf="userForm.controls.email.errors.custom">
                Incorrect email
              </span>
            </div>
          </div>

          <div *ngIf="state.error.dublicate_user" class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oh snap!</strong> User is alrerady exist. Please enter another email or Sign In
          </div>

          <fieldset formGroupName="passwords">
            <!-- password -->
            <div class="form-group">
              <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password"
                formControlName="pwd">

                <!-- <app-validator-message [field]="secondFormGroup.get('passwords').get('pwd')"></app-validator-message> -->

              <div *ngIf="!userForm.controls.passwords.controls.pwd.valid && userForm.controls.passwords.controls.pwd.dirty"
                class="alert alert-danger">
                <span *ngIf="userForm.controls.passwords.controls.pwd.errors.custom">
                  Incorrect password
                </span>
              </div>
            </div>

            <!-- confirm password -->
            <div class="form-group">
              <input type="password" name="password" id="password-confirm" class="form-control input-lg"
                placeholder="Confirm Password" formControlName="confirm">
              <div *ngIf="!userForm.controls.passwords.controls.confirm.valid && userForm.controls.passwords.controls.confirm.dirty"
                class="alert alert-danger">
                <span *ngIf="userForm.controls.passwords.controls.confirm.errors.custom">
                  Incorrect password
                </span>
              </div>
            </div>
          </fieldset>
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a class="btn btn-lg btn-success btn-block" (click)="state.checked_form = 'login' ">Sign In</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a class="btn btn-lg btn-primary btn-block" (click)="register()">Register</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a class="btn btn-lg btn-success btn-block" href="http://localhost:3000/api/auth/facebook">Log with Facebook</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>


<a href="/api/auth/facebook">Login via Facebook </a>

