<!-- <div class="row">
        <form ref='uploadForm' id='uploadForm' action='http://localhost:3000/upload' method='post' (onSubmit)="console.log('test')"
          encType="multipart/form-data">
          <input type="file" name="sampleFile" />
          <input type='submit' value='Upload!' />
        </form>
        <button>test code</button>
      </div>
      <form #myform="ngForm" (ngSubmit)="register(myform)" action='http://localhost:3000/upload' method='post'>
  
            <button >ok</button>
          </form> -->

<app-header [state]="state.header" (onChanged)="headerHandler($event)"></app-header>
<app-carousel></app-carousel>
<h2 class="h2Title">New Collection</h2>
<app-card *ngFor="let card of state.products" [state]="card" (onChanged)="cardHandler($event)"></app-card>
<app-footer></app-footer>