

<app-header [state]="state.header" (onChanged)="headerHandler($event)"></app-header>
<app-carousel></app-carousel>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-mega-search></app-mega-search>
      <!-- <app-mega-search2></app-mega-search2> -->
    </div>
    <div class="col-md-9">
      <!-- <h2 class="h2Title">New Collection</h2> -->
      <div class="row">
        <app-card2 *ngFor="let card of state.showedProducts; let i = index" [index]="i" [state]="card" [userId]="state.header.user._id" (onChanged)="cardHandler($event)"></app-card2>
        <!-- OLD VERSION OF PRODUCT CARD -->
        <!-- <app-card *ngFor="let card of state.products" [state]="card" [userId]="state.header.user._id" -->
        <!-- (onChanged)="cardHandler($event)" class="col-xs-12 col-sm-6 col-md-4 card-wrapper"></app-card> -->
      </div>
      <app-product-slider [userId]="state.header.user._id" [products]="state.products"></app-product-slider>
    </div>
  </div>

</div>
<!-- <app-chat></app-chat> -->
<app-footer></app-footer>