<div class="container content">
  <h1>{{ pageTitle | uppercase }}</h1>
  <br><br>
  <input (ngModelChange)="toUpperCase()" type="text" class="todo-input" [(ngModel)]="todoTitle" (keyup.enter)="addTodo()">
  <div class="todo-item" *ngFor="let todo of todosFiltered()" @fade>
    <div class="todo-item-left">
      <input class="input" type="checkbox" [(ngModel)]="todo.completed">
      <div *ngIf="!todo.editing; else editingTodo" class="todo-item-label" [ngClass]="{ 'completed': todo.completed }" (dblclick)="editTodo(todo)">{{ todo.title }}</div>
      <ng-template #editingTodo>
          <input type="text" class="todo-item-edit" [(ngModel)]="todo.title" (keyup.enter)="doneEdit(todo)" (keyup.esc)="cancelEdit(todo)" (blur)="doneEdit(todo)" autofocus>
      </ng-template>
    </div>
    <div class="remove-item" (click)="deleteTodo(todo.id)">
      &times;
    </div>
  </div>

  <div class="extra-container">
    <div>
      <label>
        <input type="checkbox" (change)="checkAllTodos()">Check All
      </label>
    </div>
    <div>{{ remaining() }} items left</div>
  </div>
  <div class="extra-container">
    <div>
      <button [ngClass]="{ 'active': filter === 'all' }" (click)="filter='all'">All</button> 
      <button [ngClass]="{ 'active': filter === 'active' }" (click)="filter='active'">Active</button>
      <button [ngClass]="{ 'active': filter === 'completed' }" (click)="filter='completed'">Completed</button>
    </div>
    <div *ngIf="atLeastOneCompleted()">
      <button (click)="clearCompleted()">Clear Completed</button>
    </div>
  </div>