.filter-category {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: #ffffff;
}
.category-wrapper {
    width: 100%;
}
.input-group-select {
    align-items: center;
    display: flex;
}
.section-list-filter {
    margin: 25px 0;
}

//range price
#rangeBox{ /* carry complete  range box*/
width: 100%;
height:100px;

}
#sliderBox{
position:relative;
top:0%;
width:100%;  /*2x width*/
}
#rangeBox > .slider.slider-horizontal {
    width: 100%!important;
}
#slider0to50{
width:150px;/*1x width*/
position:absolute;
left:0%;
}
#slider51to100{
width:150px;/*1x width*/
position:absolute;
left:50%;
}
#inputRange{
position:relative;
top:50%;
}
#inputRange::after{
content:"";
clear:both;
display:block
}
#inputRange #min{
    width:40%;
float:left;
    }   
#inputRange #max{
    width:40%;
float:right;
}
.rangeBox {
    padding: 50px 0;
}
.button-success {
    button {
        width: 100%;
    }
}
.price-option,
.price-btn-wrapper {
    width: 100%;
}
.subcategory-select {
    width: 100%;
}
.mega-search-input {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 6px!important;
    color: #ffffff;
}
.price-option {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 6px;
    color: #ffffff;
    text-align: left;
}


// !!!!!!!*************!!!!!!!!!!
/****** Bootstrap Colors ******/

@gray-base: #000;
@gray-darker: lighten(@gray-base, 13.5%);
@gray-dark: lighten(@gray-base, 20%);
@gray: lighten(@gray-base, 33.5%);
@gray-light: lighten(@gray-base, 46.7%);
@gray-lighter: lighten(@gray-base, 93.5%);
@brand-primary: darken(#428bca, 6.5%);
@brand-success: #5cb85c;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;

@icon-font: 'Glyphicons Halflings';

//@down-arrow: "\e259";
@down-arrow: "\25bc";

//@up-arrow: "\e260";
@up-arrow: "\25b2";

.primary {
  min-height: 800px;
}

/*** Accordion Toggles ***/
.panel-heading {
  position: relative;
  
  .accordion-toggle:after {
    font-family: @icon-font;
    content: @up-arrow;
    position: absolute;
    right: 16px;    
  }

  .accordion-toggle.collapsed:after {
    font-family: @icon-font;
    content: @down-arrow;
  }
}

/*** Filter Menu ***/

/* Panels */
.filter-menu {
  .panel {
    border-radius: 0;
    border: 1px solid @gray-lighter;
  }

  .panel-heading {
    background: #fff;
    padding: 0;
  }
  
  .panel-title {
    color: @gray-dark;
    font-weight: bold;
    display: block;
    padding: 16px;    
  }
  
  a.panel-title {
    color: @gray-dark;

    &:hover,
    &:focus {
      color: @gray-dark;
      text-decoration: none;
    }
  }
  
  .panel-body {
    padding: 16px;
  }
}

/* Inner Panels */
.filter-menu .panel-group {
  margin: -16px;

  .panel-title {
    background: #eee;
    transition: color, 0.5s, ease;

    &:hover {
      color: @gray-dark;
      text-decoration: none;
      background: @gray-light;
    }
  }
  
  .panel + .panel {
    margin-top: 0;
  }
}

/*** Filter Menu - Mobile ***/


@mobile-menu-bg: #30404a;
@mobile-menu-bg-active: #3f5460;
@mobile-menu-border: #4B6473;
@mobile-menu-text: #f9f9f9;

/* Panels - Mobile */
.filter-menu.mobile {
  .btn-link {
    color: @mobile-menu-text;
  }
  hr {
    margin-top: 0;
    border-top-color: @mobile-menu-border;
  }
  .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-color: @mobile-menu-border;
  }
  .panel {
    border-color: @mobile-menu-border;
    background: @mobile-menu-bg;
    color: @mobile-menu-text;
  }
  .panel-heading {
    background: @mobile-menu-bg;
  }
  .panel-heading:hover {
      background: @mobile-menu-bg-active;
  }
  a.panel-title {
    color: @mobile-menu-text;
  }
  a.panel-title:hover {
    color: @mobile-menu-text;
  }
  .panel-group {
    .panel {
      border-color: @mobile-menu-border;
    }
    .panel-title {
      background: @mobile-menu-bg-active;
    }
    .panel-title:hover {
      color: @mobile-menu-text;
      background: @mobile-menu-bg;
    }
  }
}

/****** Footer ******/

.footer {
  background-color: @gray-lighter;
}
.footer p {
  margin: 20px 0;
  text-align: center;
  color: darken(@gray-lighter, 40%);
}
.footer .glyphicon-heart {
  color: pink;
}

/*** Sticky Footer ***/

@footer-height: 60px;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: @footer-height;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @footer-height;
}
.form {
  margin: 0 1em;
}