.favorite-wrapper {
  position: relative;
  cursor: pointer;
  .favorite-box {
    position: absolute;
    left: 0;
    bottom: 0px;
    overflow: hidden;
    height: 72px;
    width: 72px;
    //background: url(../../../assets/img/cd-icons-cart-close.svg) no-repeat 0 0;
    background: url(../../../assets/img/heart.svg) no-repeat center center;
    background-color: #fff;
    background-size: 40px 40px;
    
  }
  .card-trigger {
    height: 55px;
    width: 55px;
    overflow: visible;
  }
  .cd-cart__count {
    position: absolute;
    background: red;
    margin: 0;
    height: 34px;
    width: 34px;
    font-weight: 700;
    border-radius: 50%;
    text-indent: 0;
    top: -80px;
    left: 50px;
    transition: transform .2s .5s,-webkit-transform .2s .5s;
    -webkit-font-smoothing: antialiased;
    
    li {
      position: absolute;
      list-style: none;
      color: #fff;
      top: 17px;
      left: 20px;
      animation-duration: .15s;
      animation-fill-mode: forwards;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}










.cd-cart__trigger,
.cd-cart__content {
  position: fixed;
  bottom: 20px;
  right: 5%;
  transition: transform .2s;
}

.cd-cart--empty .cd-cart__trigger,
.cd-cart--empty .cd-cart__content { // hide cart
  transform: translateY(150px);
}
.cd-cart__layout {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    height: 72px;
    width: 72px;
    border-radius: var(--radius);
    transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
    transition-timing-function: cubic-bezier(.67,.17,.32,.95);
    background: var(--cd-color-3);
    box-shadow: 0 4px 30px rgba(#000, .17);
  }
  
  .cd-cart--open .cd-cart__layout {
    height: 100%;
    width: 100%;
    transition-delay: 0s;
  }

  .cd-cart__product--deleted { // this class is added to an item when it is removed form the cart
    position: absolute;
    left: 0;
    width: 100%; 
    opacity: 0;
    animation: cd-item-slide-out .3s forwards;
  }
  
  @keyframes cd-item-slide-out {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(80px);
      opacity: 0;
    }
  }


  .cd-cart__trigger::after {
    background-position: -72px 0;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.cd-cart__trigger::after, .cd-cart__trigger::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  height: 100%;
  width: 100%;
  background: url(../../../assets/img/cd-icons-cart-close.svg) no-repeat 0 0;
  transition: opacity .2s,-webkit-transform .2s;
  transition: opacity .2s,transform .2s;
  transition: opacity .2s,transform .2s,-webkit-transform .2s;
}