#input-desc {
	height: 350px;
}
.input-pic {
	position: relative;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	width : 400px;
	height : 300px;
	text-align: center;
	background-color: #f0f0f0;
}
.input-pic input[type="file"] {
	padding: 0;
	margin: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	filter: opacity(0);
	display: block;
	box-sizing: border-box;
}
.option-wrap {
	display: flex;
	align-items: center;
	.btn-edit {
		margin-left: 1em;
	}
}
.edit-category-block {
	width: 100%;
	max-width: 300px;
	background:rgba(128, 128, 128, 0.26);
	padding: 10px;
}
.category {
	display: flex;
	justify-content: space-between;
}
.add-new-user-wrap {
	display: flex;
	justify-content: space-between;
}
.progress-bar {
	background: blue;
}
