<div class="container">
  <form>
    <div class="form-group">
      <label for="input-title">Product name :</label>
      <input [(ngModel)]="state.productName" type="text" id="input-title" name="input-title" class="form-control"
        required>
    </div>
    <button (click)="productTest()">ok</button>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Category :</label>
      <div class="option-wrap">
        <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="state.checkedCategory" [ngModelOptions]="{standalone: true}">
          <option selected disabled>Choose a category</option>
          <option *ngFor="let category of state.productCategories" [ngValue]="category">{{ category }}</option>
        </select>

        <button (click)="openCategory = !openCategory" type="button" class="btn btn-info btn-edit">Edit</button>
      </div>
    </div>
    <!-- popup -->
    <div class="edit-category-block" *ngIf="openCategory">
      <div class="add-new-user-wrap">
        <input [(ngModel)]="new_category" name="add_category" type="text" placeholder="new category">
        <button (click)="addCategory(new_category)" type="button" class="btn btn-success">
            <i class="fa fa-plus-circle"></i>
        </button>
      </div>
      <div class="category" *ngFor="let category of state.productCategories">

        <span>{{ category }}</span>
        <div class="btn-group">
          <button (click)="delCategory(categoryName)" type="button" class="btn btn-danger">
              <i class="fa fa-minus-circle"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="input-title">Price :</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">€</div>
        </div>
        <input [(ngModel)]="state.productPrice" type="number" id="input-price" name="input-price" class="form-control"
          required>
      </div>
    </div>
    <div class="form-group">
      <label for="input-desc">Description :</label>
      <div id="input-desc"></div>
    </div>
    <div class="form-group">
      <label>Add pictures :</label>
      <div class="row">
        <div class="col-md-4">
          <div class="input-pic">
            <input id="uploadFile" type="file" (change)="onChange($event)" class="form-control">
            <img src="http://via.placeholder.com/400x300" alt="Image preview..." class="img-fluid mh-100 mw-100">
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-pic">
            <input type="file" onchange="previewFile()" class="form-control">
            <img src="http://via.placeholder.com/400x300" alt="Image preview..." class="img-fluid mh-100 mw-100">
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-pic">
            <input type="file" onchange="previewFile()" class="form-control">
            <img src="http://via.placeholder.com/400x300" alt="Image preview..." class="img-fluid mh-100 mw-100">
          </div>
        </div>
      </div>
    </div>
    <button (click)="sendNewProduct()" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>