<div class="container">
  <form>
    <div class="form-group">
      <label for="input-title">Product name :</label>
      <input [(ngModel)]="state.productName" type="text" id="input-title" name="input-title" class="form-control"
        required>
    </div>
    <button (click)="productTest()">ok</button>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Category :</label>
      <div class="option-wrap">
        <app-subcategory-select 
          [breadCrumbs]="breadCrumbs"  
          [recurtionLevel]="0" 
          [categories]="categories">
        </app-subcategory-select>
        <button (click)="openCategory = !openCategory" type="button" class="btn btn-info btn-edit">Edit</button>
      </div>
    </div>
    Bread crumbs: {{ state.breadCrumbs | json}}
    <div class="form-group">
      <label for="color">Choose color:</label>
      <div class="option-wrap">
        <input [(ngModel)]="state.color" type="color" id="color" name="color" class="form-control" required>
        <button (click)="state.colorProducts.push(state.color)" type="button"
          class="btn btn-info add-color">Add</button>
      </div>
      <div class="show-color">
        <div *ngFor="let color of state.colorProducts" [style.background]="color" class="one-color">
          {{ color }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="color">Choose size:</label>
      <div class="size-wrapper">
        <button (click)="item.checked = !item.checked; state.sizes.push(item.size)"
          *ngFor="let item of state.standartSizes" type="button" [style.opacity]="(item.checked) ? .3 : 1"
          class="btn btn-outline-success">
          {{ item.size }}
        </button>
        <!-- click checked or not checked -->
      </div>
    </div>

    <!-- popup -->
    <div class="edit-category-block" *ngIf="openCategory">
      <div class="add-new-user-wrap">
        <input [(ngModel)]="new_category" name="add_category" type="text" placeholder="new category">
        <button (click)="addCategory(new_category)" type="button" class="btn btn-success">
          <i class="fa fa-plus-circle"></i>
        </button>
      </div>
      <!-- CATEGORY -->
      <span>{{categories.subCategories.name}}</span>
      <app-subcategory (click)="refreshCategories()" [new_category]="new_category" [category]="categories"></app-subcategory>
      <hr>
      
    </div>
    <div class="form-group">
      <label for="input-title">Price :</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">€</div>
        </div>
        <input [(ngModel)]="state.productPrice" type="number" id="input-price" name="input-price" class="form-control"
          required>
      </div>
    </div>
    <div class="form-group">
      <label for="input-desc">Description :</label>
      <div id="input-desc"></div>
    </div>
    <div class="form-group">
      <label>Add pictures :</label>
      <div class="row">
        <input type="file" id="upload" (change)="onChange()" multiple="multiple">
        <!-- <button (click)="testcode()">test code</button> -->
      </div>
      fileQuantity - {{ fileQuantity }}, fileCounter - {{ fileCounter-2 }}
      <div class="progress" *ngIf="progressBarPercent !== 0;">
        <div class="progress-bar" [style.background]=" (progressBarPercent == 100) ? 'green':'blue' " role="progressbar"
          [style.width]="progressBarPercent + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          {{ progressBarPercent }} %</div>
      </div>

      <div class="row">
        <div class="col-md-4" *ngFor="let preview of state.previews; let i = index;">
          {{ i }}
          <div class="input-pic upload-img">
            <input id="upload" type="file" (change)="onChange($event)" class="form-control" multiple="multiple">
            <img [src]="preview.reader.result" alt="Image preview..." class="img-fluid mh-100 mw-100 img">
            <div class="mark-main-photo" *ngIf='preview.main'>
              <i class="fa fa-home" aria-hidden="true"></i>
              main photo
            </div>
            <div class="overlay">
              <div class="text">Press <button (click)="checkMainPhoto(i)">Set</button> to set first photo in product
                card</div>
            </div>
            <i (click)='state.previews.splice(i,1)' class="fa fa-window-close close-window" aria-hidden="true"></i>
          </div>
        </div>

        `
      </div>
    </div>
    <button (click)="sendNewProduct()" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>