.basket-popup {
    position: absolute;
    top: 3em;
    right: 5em;
    left: 5em;
    background: white;
    min-height: 200px;
    width: calc(100% - 10em);
    display: flex;
    flex-direction: column;
    z-index: 10;
}
.close {
    color: red;
    font-size: 30px;
    cursor: pointer;
    text-align: right;
}
.checkout-table {
    margin: 20px;
    tr {
        color: black
    }
    span {
        color: black
    }
    text-align: right;
}
#checkout {
    //height: 0;
    overflow: hidden;
    transition: 1s;
}
.myClose {
    height: 0px;
}
.fixedOpen {
    height: 600px;
}
.OpenFit {
    //height: fit-content;
    overflow: auto!important;
    display: flex;
    
}
h1,h3 {
  color: #aaaaaa;
}
.checkbox, .promo-code {
  color: #aaaaaa;
}
.collapse button {
  color: #aaaaaa;
}

//payment
form.checkout {
    max-width: 500px;
    margin: 2rem auto;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 8px;
    padding: 1rem 2rem;
    background: white;
  
    font-family: monospace;
    color: #525252;
    font-size: 1.1rem;
  }
  
  form.checkout button {
    padding: 0.5rem 1rem;
    color: white;
    background: coral;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
  }
  
  form.checkout button:active {
    background: rgb(165, 76, 43);
  }
  .StripeElement {
    margin: 1rem 0 1rem;
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }




  //payment method
  .ElementsModal--modal {
    all: initial;
    box-sizing: border-box;
    position: fixed;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 100001 !important;
  }
  .ElementsModal--modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    /* make media query for this :) */
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    width: 385px;
    border-radius: 0.5rem;
  }
  
  @media screen and (max-width: 600px) {
    .ElementsModal--modal-content {
      height: 100vh;
      width: 100%;
      border-radius: 0;
    }
    .ElementsModal--top {
      padding-top: 4em;
    }
    .ElementsModal--close {
      padding-top: 4em;
    }
  }
  
  .ElementsModal--top {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  
  .ElementsModal--close {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
  }
  
  .ElementsModal--show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }
  
  .ElementsModal--details {
    margin-bottom: 2px;
  }
  
  .ElementsModal--price {
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 600;
  }
  .ElementsModal--top-banner {
    background-color: black;
    text-align: center;
    background: rgb(0, 0, 0);
    padding: 1em;
    padding-top: 20px;
    padding-bottom: 2em;
  }
  .ElementsModal--email {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 500;
  }
  .ElementsModal--product {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 500;
  }
  .ElementsModal--company {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 32px;
  }
  
  .ElementsModal--footer-text {
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    line-height: 16px;
  }
  
  .ElementsModal--error-message {
    margin-top: 5px;
    color: rgb(220, 39, 39);
    font-size: 13px;
    line-height: 17px;
  }
  
  .ElementsModal--pay-button-wrapper {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 25px;
    width: 350px;
    height: 40px;
  }
  
  .ElementsModal--pay-button {
    cursor: pointer;
    border: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    box-shadow: inset 0 0 0 1px rgba(50, 50, 93, 0.1),
      0 2px 5px 0 rgba(50, 50, 93, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.07);
    border-radius: 6px 6px 6px 6px;
    font-size: 16px;
    font-weight: 600;
  
    background-color: rgb(0, 116, 212);
    color: rgb(255, 255, 255);
  }
  
  .ElementsModal--pay-button:focus {
    outline: none;
    box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07),
      0 0 0 4px rgba(50, 151, 211, 0.3);
  }
  
  .ElementsModal--dropdowns {
    margin: 10px;
    -webkit-appearance: none;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 0px 1px rgb(224, 224, 224),
      0px 2px 4px 0px rgba(0, 0, 0, 0.07), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
  }
  
  /* Form */
  
  .ElementsModal--payment-form {
    margin-bottom: 0;
  }
  
  .ElementsModal--label {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 500;
  }
  
  .ElementsModal--forms {
    padding: 5%;
  }
  
  .ElementsModal--form {
    margin-bottom: 14px;
    width: 100%!important;
  }
  .ElementsModal--form label {
    width: 100%!important;
  }
  .ElementsModal--card-element {
    width: 100%;
  }
  
  .ElementsModal--form-label {
    width: 100%;
    font-size: 13px;
    margin-bottom: 4px;
    display: block;
    color: rgba(0, 0, 0, 0.6);
  }
  
  .ElementsModal--form-select select {
    padding: 10px 12px;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    box-shadow: 0px 0px 0px 1px rgb(224, 224, 224),
      0px 2px 4px 0px rgba(0, 0, 0, 0.07), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    border-radius: 5px 5px 5px 5px;
  
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.193 3.97a.75.75 0 0 1 1.062 1.062L6.53 9.756a.75.75 0 0 1-1.06 0L.745 5.032A.75.75 0 0 1 1.807 3.97L6 8.163l4.193-4.193z' fill='%23000' fill-rule='evenodd' fill-opacity='.4'/%3E%3C/svg%3E");
    background-size: 12px;
    background-position: calc(100% - 16px) center;
    background-repeat: no-repeat;
    color: rgb(40, 40, 40);
    font-size: 16px;
    font-weight: normal;
  }
  
  .ElementsModal--form-select select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 rgb(0, 0, 0);
  }
  
  .ElementsModal--form-select select:focus {
    box-shadow: 0 0 0 1px rgba(50, 151, 211, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.07),
      0 0 0 4px rgba(50, 151, 211, 0.3);
  }
  
  .ElementsModal--form-select select::-ms-expand {
    display: none; /* hide the default arrow in ie10 and ie11 */
  }
  
  .StripeElement {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
  
    box-shadow: 0px 0px 0px 1px rgb(224, 224, 224),
      0px 2px 4px 0px rgba(0, 0, 0, 0.07), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  .ElementsModal--form > label {
      width: 100%!important;
  }
  
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 rgb(207, 215, 223);
  }
  
  .StripeElement--invalid {
    border-color: rgb(239, 152, 150);
  }
  
  .StripeElement--webkit-autofill {
    background-color: rgb(254, 253, 229) !important;
  }
  .demo {
    background: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    margin-top: 55px;
  }
  
  .success-message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
  }
  
  .success-text {
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: 500;
    opacity: 0.7;
    margin-bottom: 20px;
  }
  
  .replay {
    color: rgb(0, 102, 240);
    font-size: 17px;
    font-weight: 500;
  }
  /* Container needed to position the button. Adjust the width as needed */
  .container {
    display: inline-block;
    position: relative;
    height: 420px;
    width: 420px;
  }
  
  /* Make the image responsive */
  .container img {
    height: 420px;
    width: 420px;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    height: 40px;
    background: rgb(0, 102, 240);
    box-shadow: 0px 15px 35px 0px rgba(50, 50, 93, 0.1),
      0px 5px 15px 0px rgba(0, 0, 0, 0.07);
    border-radius: 22px 22px 22px 22px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 500;
  }
  
  .container .btn:hover {
    background-color: black;
  }
  
  .price-and-button-container {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0;
    top: 310;
    right: 0;
    bottom: 0;
  }
  
  .product-name {
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 500;
    opacity: 0.7;
  }
  
  .product-price {
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: 500;
  }
  
  .endstate {
    display: none;
  }
  .demo {
    background: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    margin-top: 55px;
  }
  
  .success-message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
  }
  
  .success-text {
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: 500;
    opacity: 0.7;
    margin-bottom: 20px;
  }
  
  .replay {
    color: rgb(0, 102, 240);
    font-size: 17px;
    font-weight: 500;
  }
  /* Container needed to position the button. Adjust the width as needed */
  .container {
    display: inline-block;
    position: relative;
    height: 420px;
    width: 420px;
  }
  
  /* Make the image responsive */
  .container img {
    height: 420px;
    width: 420px;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    height: 40px;
    background: rgb(0, 102, 240);
    box-shadow: 0px 15px 35px 0px rgba(50, 50, 93, 0.1),
      0px 5px 15px 0px rgba(0, 0, 0, 0.07);
    border-radius: 22px 22px 22px 22px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 500;
  }
  
  .container .btn:hover {
    background-color: black;
  }
  
  .price-and-button-container {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0;
    top: 310;
    right: 0;
    bottom: 0;
  }
  
  .product-name {
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 500;
    opacity: 0.7;
  }
  
  .product-price {
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: 500;
  }
  
  .endstate {
    display: none;
  }
  .radio {
    .payment-icon {
      font-size: 30px;
    }
  }
  .payment-label {
    display: flex;
    align-items: center;
    i {
      padding: 0 10px;
    }
  }
  .checkout-block {
    padding-bottom: 15px;
  }
  // paypal buttons
  .media {
    .ng-tns-c10-1 {
      width: 100%;
    }
  }
 
  