.basket-popup {
    position: absolute;
    top: 3em;
    right: 5em;
    left: 5em;
    background: white;
    min-height: 200px;
    width: calc(100% - 10em);
}
.close {
    color: red;
    font-size: 30px;
    cursor: pointer;
}
.checkout-table {
    margin: 20px;
    tr {
        color: black
    }
    span {
        color: black
    }
}