.basket-popup {
    position: absolute;
    top: 3em;
    right: 5em;
    left: 5em;
    background: white;
    min-height: 200px;
    width: calc(100% - 10em);
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.close {
    color: red;
    font-size: 30px;
    cursor: pointer;
    text-align: right;
}
.checkout-table {
    margin: 20px;
    tr {
        color: black
    }
    span {
        color: black
    }
    text-align: right;
}
#checkout {
    //height: 0;
    overflow: hidden;
    transition: 1s;
}
.myClose {
    height: 0px;
}
.fixedOpen {
    height: 600px;
}
.OpenFit {
    //height: fit-content;
    overflow: auto!important;
    display: flex;
    
}