<!-- HORIZONTAL VIEWS -->
<div class="container horizontal" *ngIf="false">
    <div [class]="(toggleFilter) ? '': 'hide'">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">
                            <i class="fa fa-search-plus"></i>
                        </span>
                    </div>
                    <input [(ngModel)]="queries.keywords" type="text" class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default" placeholder="Search">
                        <span>{{ queries.minPrice }}</span>
                        <span>{{ queries.maxPrice }}</span>
                </div>
            </div>
            <div class="col-md-6 input-group-select">
                <div class="input-group">
                    <div class="input-group-prepend category-wrapper">
                        <span class="input-group-text">
                            <i class="fa fa-align-justify"></i>
                        </span>
                        <app-subcategory-select [breadCrumbs]="appState.breadCrumbs" [recurtionLevel]="0"
                            [categories]="appState.productCategories">
                        </app-subcategory-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-list-filter">
            <div class="row">
                <div class="col-md-3">
                    <div class="filter-section">
                        <div class="input-group-prepend filter-section">
                            <span class="input-group-text">
                                <i class="fa fa-file"></i>
                            </span>
                            <select class="filter-category">
                                <option selected="selected">Choose BestSeller</option>
                                <option>example1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filter-section">
                        <div class="input-group-prepend filter-section">
                            <!-- <span class="input-group-text">
                                <i class="fa fa-file"></i>
                            </span> -->
                            <select class="filter-category">
                                <option selected="selected">Choose New Products</option>
                                <option>example1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filter-section">
                        <div class="input-group-prepend filter-section">
                            <span class="input-group-text">
                                <i class="fa fa-file"></i>
                            </span>
                            <!-- <select class="filter-category"> -->
                            <!-- <option selected="selected">Choose By Price</option> -->
                            <!-- <option [selected]="selected">{{ filterPriceOption.default }}</option>
                                <option>{{ filterPriceOption.up }}</option>
                                <option>{{ filterPriceOption.down }}</option>
                            </select> -->
                            <div class="btn-group">
                                <button *ngIf="!sortByPriceFlag" (click)="sortByPrice()">
                                    <i class="fa fa-arrow-up"></i>
                                    from lover to hight</button>
                                <button *ngIf="sortByPriceFlag" (click)="sortByPrice()">
                                    <i class="fa fa-arrow-down"></i>
                                    from hight to lover
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="filter-section">
                        <div class="input-group-prepend filter-section">
                            <span class="input-group-text">
                                <i class="fa fa-file"></i>
                            </span>
                            <select class="filter-category">
                                <option selected="selected">Choose By Star (from 1-5)</option>
                                <option>
                                    1
                                </option>
                                <option>
                                    2
                                </option>
                                <option>
                                    3
                                </option>
                                <option>
                                    4
                                </option>
                                <option>
                                    5
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rangeBox">
                <div class="row">
                    <div class="col-md-9">
                        <div id="rangeBox">
                            <!-- using this plugin - https://www.npmjs.com/package/bootstrap-slider and https://github.com/seiyria/bootstrap-slider-->
                            <input id="range" type="text" id="range" step="1" precision="2" value="7"
                                scale="logarithmic" name="somename" data-provide="slider" data-slider-min="10"
                                data-slider-max="1000" data-slider-step="1" data-slider-value="[250,950]">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="button-success">
                            <button (click)="search()" type="button" class="btn btn-success">search</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="filter-btn">
        <button (click)="toggleFilter = !toggleFilter" class="btn btn-primary"><i
                class="fa fa-filter"></i>Filter</button>
    </div>
    <div class="bread-crumbs">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
    </div>
    <app-card *ngFor="let card of appState.products;" [state]="card" [userId]="state.header.user._id"
        (onChanged)="cardHandler($event)">
    </app-card>
</div>


<!-- VERTICAL VIEWS -->
<div class="container vertical" *ngIf="true">
    <div [class]="(toggleFilter) ? '': 'hide'">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">
                            <i class="fa fa-search-plus"></i>
                        </span>
                    </div>
                    <input [(ngModel)]="queries.keywords" type="text" class="form-control mega-search-input" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default" placeholder="Search">
                        <span>{{ queries.minPrice }}</span>
                        <span>{{ queries.maxPrice }}</span>
                </div>
            </div>
            <div class="col-md-12 input-group-select">
                <div class="input-group">
                    <div class="input-group-prepend category-wrapper">
                        <span class="input-group-text">
                            <i class="fa fa-align-justify"></i>
                        </span>

                        <app-subcategory-select 
                            [breadCrumbs]="appState.breadCrumbs" 
                            [recurtionLevel]="0"
                            [categories]="appState.productCategories">
                        </app-subcategory-select>

                    </div>
                </div>
            </div>
        </div>
        <div class="section-list-filter">
            <div class="row">
                <div class="col-md-12">
                    <div class="filter-section">
                        <div class="input-group-prepend filter-section">
                            <span class="input-group-text">
                                <i class="fa fa-file"></i>
                            </span>
                            <select class="filter-category">
                                <option selected="selected">Choose BestSeller</option>
                                <option>example1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="filter-section">
                        <div class="input-group-prepend filter-section">
                            <span class="input-group-text">
                                <i class="fa fa-file"></i>
                            </span>
                            <select class="filter-category">
                                <option selected="selected">Choose New Products</option>
                                <option>example1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="filter-section">
                        <div class="input-group-prepend filter-section">
                            <span class="input-group-text">
                                <i class="fa fa-file"></i>
                            </span>
                            <!-- <select class="filter-category"> -->
                            <!-- <option selected="selected">Choose By Price</option> -->
                            <!-- <option [selected]="selected">{{ filterPriceOption.default }}</option>
                                <option>{{ filterPriceOption.up }}</option>
                                <option>{{ filterPriceOption.down }}</option>
                            </select> -->
                            <div class="btn-group price-btn-wrapper">
                                <button *ngIf="!sortByPriceFlag" (click)="sortByPrice()" class="price-option">
                                    <i class="fa fa-arrow-up"></i>
                                    from lover to hight</button>
                                <button *ngIf="sortByPriceFlag" (click)="sortByPrice()" class="price-option">
                                    <i class="fa fa-arrow-down"></i>
                                    from hight to lover
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="filter-section">
                        <div class="input-group-prepend filter-section">
                            <span class="input-group-text">
                                <i class="fa fa-file"></i>
                            </span>
                            <select class="filter-category">
                                <option selected="selected">Choose By Star (from 1-5)</option>
                                <option>
                                    1
                                </option>
                                <option>
                                    2
                                </option>
                                <option>
                                    3
                                </option>
                                <option>
                                    4
                                </option>
                                <option>
                                    5
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rangeBox">
                <div class="row">
                    <div class="col-md-12">
                        <div id="rangeBox">
                            <!-- using this plugin - https://www.npmjs.com/package/bootstrap-slider and https://github.com/seiyria/bootstrap-slider-->
                            <input id="range" type="text" id="range" step="1" precision="2" value="7"
                                scale="logarithmic" name="somename" data-provide="slider" data-slider-min="10"
                                data-slider-max="1000" data-slider-step="1" data-slider-value="[250,950]">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="button-success">
                            <button (click)="search()" type="button" class="btn btn-success">search</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="filter-btn">
        <button (click)="toggleFilter = !toggleFilter" class="btn btn-primary"><i
                class="fa fa-filter"></i>Filter</button>
    </div>
    <!-- I THINK BREAD CRUMBS DONT NEEDED FOR THIS SIDE BAR MENU -->
    
    <!-- <div class="bread-crumbs">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
    </div>
    <app-card *ngFor="let card of appState.products;" [state]="card" [userId]="state.header.user._id"
        (onChanged)="cardHandler($event)">
    </app-card> -->
</div>