


<!-- !!!!!?????????######********** -->

<header class="header">
    <div class="container">
        <h4 class="page-header">Filter Panel Group</h4>
    </div>
</header>

<div class="primary">
    <div class="container-filter">
        <div>
            <!-- -------------------------------------------------- -->

            <div class="">
                <div class="filter-menu mobile">
                    <div class="form">
                        <div class="panel panel-mobile">
                            <div class="panel-heading" role="tab" id="headingFiltersMobile">
                                <input (ngModelChange)="changed($event)" [(ngModel)]="queries.keywords" type="text"
                                    class="form-control" aria-label="Default"
                                    aria-describedby="inputGroup-sizing-default" placeholder="Search">

                                <a class="panel-title accordion-toggle" role="button" data-toggle="collapse"
                                    href="#collapseFiltersMobile" aria-expanded="false"
                                    aria-controls="collapseFiltersMobile">
                                    Filter
                                </a>
                                <div class="panel-body">
                                    <hr />
                                    <div class="button-success">
                                        <button (click)="search()" type="button" class="btn btn-success">search</button>
                                    </div>
                                    <!-- <button class="btn btn-primary" type="submit">Apply Filters</button>
                                    <a class="btn btn-sm btn-link pull-right" href="#">Clear Selections</a> -->
                                </div><!-- /.panel-body -->
                            </div><!-- /.panel-heading -->
                            <div id="collapseFiltersMobile" class="panel-collapse collapse in" role="tabpanel"
                                aria-labelledby="headingFiltersMobile">
                                <div class="panel-body">
                                    <div class="panel-group" id="filter-menu-mobile" role="tablist"
                                        aria-multiselectable="true">

                                        <div class="panel panel-mobile">
                                            <div class="panel-heading" role="tab" id="headingOneMobile">
                                                <div class="panel-title ">
                                                    <app-subcategory-select [breadCrumbs]="appState.breadCrumbs"
                                                        [recurtionLevel]="0" [categories]="appState.productCategories">
                                                    </app-subcategory-select>
                                                </div>
                                            </div><!-- /.panel-heading -->
                                        </div><!-- /.panel -->

                                        <div class="panel panel-mobile">
                                            <div class="panel-heading" role="tab" id="headingOneMobile">
                                                <div class="panel-title ">
                                                    <select class="filter-category">
                                                        <option selected="selected">Choose BestSeller</option>
                                                        <option>example1</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-mobile">
                                            <div class="panel-heading" role="tab" id="headingOneMobile">
                                                <div class="panel-title ">
                                                    <select class="filter-category">
                                                        <option selected="selected">Choose New Products</option>
                                                        <option>example1</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-mobile">
                                            <div class="panel-heading" role="tab" id="headingOneMobile">
                                                <div class="panel-title ">
                                                    <div class="btn-group">
                                                        <button *ngIf="!sortByPriceFlag" (click)="sortByPrice()">
                                                            <i class="fa fa-arrow-up"></i>
                                                            from lover to hight</button>
                                                        <button *ngIf="sortByPriceFlag" (click)="sortByPrice()">
                                                            <i class="fa fa-arrow-down"></i>
                                                            from hight to lover
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{selectedStarsAmount}} dfgsdgsdgs
                                        <div class="panel panel-mobile">
                                            <div class="panel-heading" role="tab" id="headingOneMobile">
                                                <div class="panel-title ">
                                                    <select [(ngModel)]="selectedStarsAmount" (ngModelChange)="allFilters()" 
                                                            class="filter-category">
                                                        <option selected="selected">Choose By Star (from 1-5)</option>
                                                        <option [selected]="option.selected == true" [value]="option.amount" *ngFor="let option of [{amount:1},{amount:2},{amount:3},{amount:4},{amount:5}]">
                                                            {{ option.amount }}
                                                        </option>
                                                        <option></option>
                                                        <option></option>
                                                        <option></option>
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-mobile">
                                            <div class="panel-heading" role="tab" id="headingOneMobile">
                                                <div class="panel-title ">
                                                    <div (mouseup)="rangePrice()" id="rangeBox">
                                                        <!-- using this plugin - https://www.npmjs.com/package/bootstrap-slider and https://github.com/seiyria/bootstrap-slider-->
                                                        <input style="width:100%;" id="range" type="text" id="range" step="1" precision="2"
                                                            value="7" scale="logarithmic" name="somename"
                                                            data-provide="slider" data-slider-min="0"
                                                            data-slider-max="1000" data-slider-step="1"
                                                            data-slider-value="[0, 1000]">
                                                    </div>
                                                    {{defaultMinRange}},{{defaultMaxRange}},{{defaultMinMaxRange}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-mobile">
                                            <div class="panel-heading" role="tab" id="headingOneMobile">
                                                <div class="panel-title ">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-mobile">
                                            <div class="panel-heading" role="tab" id="headingFourMobile">
                                                <a class="panel-title accordion-toggle collapsed" role="button"
                                                    data-toggle="collapse" data-parent="#filter-menu-mobile"
                                                    href="#collapseFourMobile" aria-expanded="false"
                                                    aria-controls="collapseFourMobile">
                                                    Status
                                                </a><!-- /.panel-title -->
                                            </div><!-- /.panel-heading -->
                                            <div id="collapseFourMobile" class="panel-collapse collapse" role="tabpanel"
                                                aria-labelledby="headingFourMobile">
                                                <div class="panel-body">
                                                    <div class="checkbox"><label><input type="checkbox" name="status[]"
                                                                value="single">Single</label></div>
                                                    <div class="checkbox"><label><input type="checkbox" name="status[]"
                                                                value="married">Married</label></div>
                                                    <div class="checkbox"><label><input type="checkbox" name="status[]"
                                                                value="its_complicated">It's complicated</label></div>
                                                </div><!-- /.panel-body -->
                                            </div><!-- /.panel-collapse -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.filter-menu -->
            </div>
        </div>

    </div><!-- /.container -->
</div><!-- /.primary -->