<div class="arrow-slider">
  <div class="container-card" (document:mousemove)="onMouseMove($event)" (mousedown)="click('down', $event)"  (mouseup)="click('up', $event)">
    <div id="measure" class="measure-card" [style.left.px]="position"> 
      <app-card *ngFor="let card of products;let i = index;" [state]="card" [userId]="userId" (onChanged)="cardHandler($event)"></app-card>
    </div>
  </div>
  <div class="wrapper-btn">
      <button class="arrow" (click)="left()"><i class="fa fa-chevron-left"></i></button>
      <button class="arrow" (click)="right()"><i class="fa fa-chevron-right"></i></button>
  </div>
     <br>
  mesuareWidth - {{ meseareWidth }} <br>
  cardWidth - {{ cardWidth }} <br>
  position - {{ position }} <br>
  contsiner card width - {{ containerCardWidth }} <br>
  products array width - {{ products.length }}
</div>
 