<!-- https://bootsnipp.com/snippets/nNg98 source -->
<!-- <div class="container-fluid h-100"> -->
    <!-- <div class="row justify-content-center h-100"> -->
      

      <!-- chat container -->
      <div class="chat">
        <div class="card">
          <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
              <div class="img_cont">
                <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                <span class="online_icon"></span>
              </div>
              <div class="user_info">
                <span>Chat with Admin</span>
                <p [class]=" ( chatMessages.length > 0 ) ? 'animated bounce' : '' ">{{ chatMessages.length }} Messages</p>
              </div>
              <div class="video_cam">
                <span><i (click)="collapse()" class="fa fa-window-minimize"></i></span>
              </div>
            </div>
            <span id="action_menu_btn"><i class="fa fa-ellipsis-v"></i></span>
            <div class="action_menu">
              <ul>
                <li><i class="fa fa-user-circle"></i> View profile</li>
                <li><i class="fa fa-users"></i> Add to close friends</li>
                <li><i class="fa fa-plus"></i> Add to group</li>
                <li><i class="fa fa-ban"></i> Block</li>
              </ul>
            </div>
          </div>
          <!-- card-body -->
          <div *ngIf="!collapsed" class="card-body msg_card_body" #scrollMe [scrollTop]="scrollMe.scrollHeight" style="overflow: scroll; height: xyz;">
            <div [class]="(msg.role == 'client' ) ? 'd-flex justify-content-start mb-4' : 'd-flex justify-content-end mb-4' " *ngFor="let msg of chatMessages">
              <!-- client message -->                
              <div class="d-flex" *ngIf="msg.role == 'client' ">
                    <div class="img_cont_msg">
                        <img [src]="msg.img" class="rounded-circle user_img_msg">
                      </div>
                      <div class="msg_cotainer">
                        {{ msg.text }}
                        <span class="msg_time">{{ usDate(msg.date) }}</span>
                      </div>
                </div>
                <!-- manager message -->
                <div class="d-flex" *ngIf="msg.role == 'manager'">
                    <div class="msg_cotainer_send">
                        {{ msg.text }}
                        <span class="msg_time_send">{{ usDate(msg.date) }}</span>
                      </div>
                      <div class="img_cont_msg">
                        <img [src]="msg.img" class="rounded-circle user_img_msg">
                      </div>
                </div>
              </div>
          </div>
          <!-- card-body-footer -->
          <div *ngIf="!collapsed" class="card-footer">
            <div class="input-group">
              <div class="input-group-append">
                <span class="input-group-text attach_btn"><i class="fa fa-paperclip"></i></span>
              </div>
                  <textarea (keydown)="sendMsgEnter($event)" [(ngModel)]="currentMsg" name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
                  <div class="input-group-append">
                    <button (click)="sendMsg();" class="input-group-text send_btn"><i class="fa fa-location-arrow"></i></button>
                  </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  <!-- </div> -->